$lightorange: #ffd6a5;
$brightorange: #fa9012;

// BULMA VARIABLES
// $family-primary: 'Gelasio', serif;
$family-primary: 'Poppins', sans-serif;
$family-secondary: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;

$primary: $brightorange;
$link: $brightorange;
$primary-light: $brightorange;
$pagination-current-background-color: $brightorange;
$pagination-current-border-color: $brightorange;
$pagination-border-color: white;
$pagination-hover-border-color: white;