#about-section {
  margin: 0 auto;
  background-image: url('https://i.imgur.com/kH7H6a1.png');
  background-position-x: 400px;
  @include media('<=tablet') {
    background-position-x: 40px;
    background-size: 200%;
    background-repeat: no-repeat;
  }
  @include media('<=phone') {
    background-position-x: 40px;
    background-size: 200%;
    background-repeat: no-repeat;
  }
  .container {
    @include media('<=phone') {
      height: 100%;
    }
    .info {
      margin-bottom: 30px;
    }
    .button {
      color: white;
      background-color: $brightorange;
      border: none;
      box-shadow: 5px 5px 5px #eee;
    }
    .button:hover {
      transform: scale(1.5);
    }
  }
  .page-title {
    font-size: 6.5rem;
    font-weight: 900;
    color: $brightorange;
    margin: 65px 0px 40px 0px;
    text-transform: uppercase;
    @include media('<=tablet') {
      font-size: 6em;
    }
    @include media('<=650px') {
      font-size: 5.5em;
    }
    @include media('<=600px') {
      font-size: 4em;
    }
    @include media('<=phone') {
      font-size: 3.2em;
    }
    .line-wrap {
      overflow: hidden;
      height: 180px;
      @include media('<=tablet') {
        height: 150px;
      }
      @include media('<=phone') {
        height: 100px;
      }
      .line {
        text-shadow: 4px 4px #eee;
      }
    }
  }
  p.other {
    font-size: 0.99rem;
    padding-right: 35%;
    text-align: justify;
    margin-top: -3.5%;
    @include media('<=tablet') {
      padding-right: 20%;
    }
    @include media('<=phone') {
      font-size: 0.8em;
      padding-right: 5%;
    }
    span{
      font-weight: bold;
    }
  }
}
