#food-swap {

  i {
    cursor: pointer;
  }

  height: 100vh;

  .container, .columns, .colmn {
    height: 100%;
  }

  .column {
    overflow-y: auto; 
  }

  @include media('<=tablet') {
    height: 100%;

    .columns {
      margin-bottom: 10vh;
    }

    .level {
      padding-top: 3vh;
    }
  }


  .columns, .column {
    text-align: center;

    .level {
      width: 100%;
    }

    #intro{
      padding: 4%;
      color: $brightorange;

      #intro-title, #intro-subtitle {
        color: $brightorange;
      }

      .info{
        padding-top: 5vh;
        text-align: justify;
        span{
          font-weight: bold;
        }
      }

      #intro-title, #intro-subtitle, .info {
        margin: 0 2vw;
      }

      i {
        color: $lightorange;

        &:hover {
          color: $brightorange;
        }
      }
    }

    #sign-up{
     font-family: $family-secondary;
     font-size: 16px;
     background-color: white;
     padding: 5%;

      .join-link{
        color: $lightorange;
        margin: 0 20px;
        text-transform: uppercase;

        &:hover {
          color: $brightorange;
        }
      }
    }
    

    #chatroom {
      background-color: $lightorange;
      color: $brightorange;
      padding: 4%;

      i {
        color: white;

        &:hover {
          color: $brightorange;
        }
      }

      .chatroom-title {
        margin-top: 6%;
        text-transform: uppercase;
        font-family: $family-secondary;
        font-size: 1rem;
        font-weight: bold;
        color: white;
      }

      .post-container {
        margin: 2% 10%;
        background-color: white;
        padding: 5%;
        color: $brightorange;

        @include media('<=phone') {
          margin: 5%;
        }

        .media + .media {
          border-top: 1px solid $brightorange;
          margin-top: 1rem;
          padding-top: 1rem;
        }
      }

      .post-form {
        margin: 2% 10%;
      }

      .post-label {
        font-family: $family-secondary;
        color: $brightorange;
      }

      .post-button {
        background-color: $brightorange;
        border: none;
        font-size: 12px;
        font-weight: bold;
        font-family: $family-secondary;
        color: white;
      }

      #photo-box {
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .profile-pic {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      .post-content {
        color: $brightorange;
        font-family: $family-secondary;

        .username {
          color: $brightorange;
        }

        .time {
          font-style: italic;
          font-size: 12px;
          margin-left: 2%;
        }

        .post-text {
          margin-top: 10px;
          margin-bottom: 2px;
          font-size: 13px;
        } 

        .reply-button {
          background-color: none;
          border: none;
          padding: 0px;
          color: $brightorange;
          font-family: $family-secondary;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }
  }


}