#food-swap {

  i {
    cursor: pointer;
  }

  height: 100vh;

  .container, .columns, .column {
    height: 100%;
  }

  .container {
    padding-top: 40px;
  }

  .column {
    overflow-y: auto; 
  }

  .columns, .column {
    text-align: center;

    .level {
      width: 100%;
    }

    #intro{
      padding: 4%;
      color: $brightorange;

      #intro-title, #intro-subtitle {
        color: $brightorange;
      }

      .info{
        // margin-top: 3%;
        padding: 6% 3.5% 0% 3.5%;
        font-size: 0.91rem;
        text-align: justify;
        span{
          font-weight: bold;
        }
      }

      #intro-title, #intro-subtitle, .info {
        margin: 0 2vw;
      }

      #intro-subtitle{
        margin-top: 1%;
        @include media('<=phone') {
          margin-top: 4%;
        }
      }

      i {
        color: $lightorange;

        &:hover {
          color: $brightorange;
        }
      }
    }

    #sign-up{
     font-family: $family-secondary;
     font-size: 16px;
     background-color: white;
     padding: 5%;

      .join-link{
        color: $lightorange;
        margin: 0 20px;
        text-transform: uppercase;

        &:hover {
          color: $brightorange;
        }
      }
    }
    

    #chatroom {
      background-color: $lightorange;
      
      @include media('<=tablet') {
        margin-top: 10%;
        height: 90vh;
        margin-bottom: 0.5rem;
      }

      @include media('<=phone') {
        margin-top: 10%;
      }

      i {
        color: white;
        &.info {
          margin-right: 0.7rem;
        }

        &:hover {
          color: $brightorange;
          &.refresh {
            color: $lightorange;
          }
        }

      }

      #postcode-form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .form {
          width: 80%;
          .label {
            text-align: justify;
          }
        }
      }

      .post-container {
        width: 100%; 
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #chatroom-title {
          color: $brightorange;
          flex-grow: 1;
          padding-bottom: 10px;
          margin-bottom: 0;
          font-weight: 600;
        }

        #chatroom-posts {
          flex-grow: 10;
          overflow-y: scroll;
          
          .no-posts {
            margin: 20% 10%;
          }
          .accordions, .accordion, .accordion-header {
            border-radius: 0;
          }

          .accordion {
            background-color: $lightorange;

            .accordion-header {
              background-color: white;
              color: $brightorange;
              transition: color ease-in-out 0.2s;
              cursor: pointer;
              border-radius: 4px;

              &:hover {
                color: rgba($brightorange, 0.7);
              }
            }

            .accordion-body {
              border: 1px solid $lightorange;

              .comment {
                border-bottom: 1px solid $brightorange;
                border-top: none;

                .content {
                  padding-bottom: 0;
                }
              }
            }

            &.swapped {
              
              .accordion-header {
                background-color: rgba($brightorange, 0.5);
                color: $lightorange;
                border-radius: 4px;
                
              }
              .accordion-content {
                color: $lightorange;
                background-color: rgba($brightorange, 0.5);
                border-radius: 4px;

                .comment {
                  border-bottom: 1px solid $lightorange;
                }
              }
            }
          }
          .media {
            width: 100%;

            .button {
              margin: 0 0.1rem;
              &.is-warning:hover {
                i {
                  color: $brightorange;
                }
              }
              &.is-primary:hover {
                i {
                  color: $lightorange;
                }
              }

              &.swapped {
                background-color: rgba($lightorange, 0);
                border: none;
                cursor: default;
                i {
                  color: $lightorange;
                  cursor: default;
                }
              }
            }
          }

          .post-comment {
            .form {
              width: 100%;
              display: flex;
              flex-direction: row;
              padding-top: 1rem;
  
              .field {
                flex-grow: 3;
              }
              .button {
                flex-grow: 1;
                margin-left: 10px;
              }
            }
          }
        }

        #chatroom-comment {
          flex-grow: 1;
          background-color: $lightorange;
          padding-top: 10px;

          .post-form {
            width: 100%;
            display: flex;
            flex-direction: row;

            .field {
              flex-grow: 3;
            }
            .button {
              flex-grow: 1;
              margin-left: 10px;
            }
          }
   
        }
      }
    }
  }
}

#delete-modal, #swap-modal {
  .modal-content {
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;

    .question {
      margin-bottom: 1rem;
    }

    .button {
      margin: 0.2rem;
    }
  }
}

#edit-modal {
  .textarea {
    width: 100%;
    margin: 0.5rem 0;
  }
}