#home-section {
  // font-family: $family-secondary;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  @include media('<=phone') {
    width: 100vw;
    flex-direction: column;
  }
  .box {
    margin: 10px;
    background-color: $brightorange;
    border-radius: 0;
<<<<<<< HEAD
=======
    @include media('<=phone') {
      margin: 10px 0;
      font-size: 5rem;
    }
    @include media('<=780px') {
      font-size: 5rem;
    }
  }

  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  
  #lrg-box {
>>>>>>> development
    animation: changecolor 4s forwards;
    width: 50vw;
    height: 84vh;
    // background-image: url('https://images.squarespace-cdn.com/content/v1/5281873ae4b05f093cd13878/1519934664878-C4611AORCT6NS186HTJE/ke17ZwdGBToddI8pDm48kPJXHKy2-mnvrsdpGQjlhod7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmihaE5rlzFBImxTetd_yW5btdZx37rH5fuWDtePBPDaHF5LxdCVHkNEqSYPsUQCdT/veggie+pattern.jpg');
    @include media('<=phone') {
<<<<<<< HEAD
      font-size: 5rem;
      width: 90vw;
=======
      width: 100%;
>>>>>>> development
      height: 50vh;
    }
    @include media('<=780px') {
      font-size: 5rem;
    }

<<<<<<< HEAD
    .title {
      color: white;
      font-weight: 800;
      font-size: 5.5em;
      @include media('<=1300px') {
        font-size: 4em;
      }
      @include media('<=780px') {
        font-size: 0.8em;
      }
      @include media('<=540px') {
        font-size: 0.5em;
      }
    }
    .small-link {
      color: white;
      padding-left: 10px;
      @include media('<=780px') {
        font-size: 0.2em;
      }
=======
  #small-box {
    background-color: $lightorange;
    border-radius: 0;
    animation: showbox 4s;
    height: 40.5vh;
    @include media('<=phone') {
      width: 100%;
      height: 25vh;
>>>>>>> development
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media('<=780px') {
      flex-direction: column;
    }
    @include media('<=phone') {
      height: 50%;
    }
<<<<<<< HEAD
    #small-box {
      background-color: $lightorange;
      border-radius: 0;
      animation: showbox 4s;
      height: 40.5vh;
      width: 100%;
      @include media('<=phone') {
        width: 90vw;
        height: 25vh;
      }
      .home-link {
        color: white;
        font-weight: 800;
        font-size: 10vh;
        @include media('<=1300px') {
          font-size: 4em;
        }
        @include media('<=780px') {
          font-size: 0.8em;
        }
        @include media('<=540px') {
          font-size: 0.5em;
        }
      }
=======
  }

  .home-link {
    color: white;
    font-weight: 800;
    font-size: 10vh;
    z-index: 10;
    @include media('<=1300px') {
      font-size: 4em;
    }
    @include media('<=780px') {
      font-size: 0.6em;
    }
    @include media('<=540px') {
      font-size: 0.5em;
    }
  }

  .small-link {
    @include media('<=780px') {
      font-size: 0.2em;
>>>>>>> development
    }
  }
}

// @keyframes changecolor {
//   0% {
//     background-color: white;
//     box-shadow: none;
//   }
//   // 50% {
//   //   background-color: $lightorange;
//   // }
//   100% {
//     background-color: $brightorange;
//   }
// }

// @keyframes showbox {
//   0% {
//     display: none;
//     opacity: 0;
//   }
//   50% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes change-text {
//   0% {
//     color: $brightorange;
//   }
//   50% {
//     color: $brightorange;
//   }
//   100% {
//     color: white;
//   }
// }

// #large-link {
//   // position: fixed;
//   // mix-blend-mode: lighten;
//   animation: change-text 4s;
// }

// // .intro-overlay {
// //   .top {
// //     height: 50vh;
// //     // height: calc(var(--vh, 1vh) * 50);
// //     position: absolute;
// //     width: 100%;
// //     z-index: 8;
// //     left: -0.02%;
// //     // opacity: 0.2;
// //     .overlay-top {
//       position: absolute;
//       height: 100%;
//       width: 33.333vw;
//       background: $brightorange;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       @include media('<=780px') {
//         width: 100vw;
//       }
//       &:nth-child(2) {
//         left: 33.333%;
//         background-color: $brightorange;
//         // @include media('<=tablet') {
//         //   width: none;
//         // }
//       }
//       &:nth-child(3) {
//         left: 66.666%;
//         background-color: $brightorange;
//         width: 50%;
//         @include media('<=tablet') {
//           width: 150%;
//         }
//       }
//     }
//   }
//   .bottom {
//     height: 50vh;
//     height: calc(var(--vh, 1vh) * 50);
//     position: absolute;
//     bottom: 0;
//     width: 110%;
//     z-index: 8;
//     .overlay-bottom {
//       position: absolute;
//       height: 100%;
//       width: 60vw;
//       background: $brightorange;
//       bottom: 0;
//       right: 50%;
//       @include media('<=tablet') {
//         right: 0;
//         width: 100vw;
//         display: none;
//       }
//       &:nth-child(2) {
//         left: 48%;
//         @include media('<=tablet') {
//           width: 100vw;
//           top: 100%;
//           right: 0;
//         }
//       }
//     }
//   }
// }
