#home-section {
  font-family: $family-secondary;
  box-sizing: border-box;

  @include media('<=460px') {
    width: 100vh;
  }

  .box {
    margin: 10px;
    background-color: $brightorange;
    border-radius: 0;
    @include media('<=phone') {
      width: 100%;
    }
    @include media('<=780px') {
      margin: 10px 0px;
    }
  }

  #lrg-box {
    animation: changecolor 4s forwards;
    @include media('<=phone') {
      height: 50%;
    }
  }

  #small-box {
    background-color: $lightorange;
    border-radius: 0;
    animation: showbox 4s;
    @include media('<=phone') {
      width: 100%;
    }
  }

  #small-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include media('<=780px') {
      flex-direction: column;
    }
    @include media('<=phone') {
      height: 50%;
    }
  }

  .home-link {
    color: white;
    font-weight: 800;
    font-size: 10vh;
    z-index: 10;
  }

  @keyframes changecolor {
    0% {
      background-color: white;
      box-shadow: none;
    }
    // 50% {
    //   background-color: $lightorange;
    // }
    100% {
      background-color: $brightorange;
    }
  }

  @keyframes showbox {
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes change-text {
    0% {
      color: $brightorange;
    }
    50% {
      color: $brightorange;
    }
    100% {
      color: white;
    }
  }

  #large-link {
    // position: fixed;
    // mix-blend-mode: lighten;
    animation: change-text 4s;
  }

  // .intro-overlay {
  //   .top {
  //     height: 50vh;
  //     // height: calc(var(--vh, 1vh) * 50);
  //     position: absolute;
  //     width: 100%;
  //     z-index: 8;
  //     left: -0.02%;
  //     // opacity: 0.2;
  //     .overlay-top {
  //       position: absolute;
  //       height: 100%;
  //       width: 33.333vw;
  //       background: $brightorange;
  //       bottom: 0;
  //       left: 0;
  //       right: 0;
  //       @include media('<=780px') {
  //         width: 100vw;
  //       }
  //       &:nth-child(2) {
  //         left: 33.333%;
  //         background-color: $brightorange;
  //         // @include media('<=tablet') {
  //         //   width: none;
  //         // }
  //       }
  //       &:nth-child(3) {
  //         left: 66.666%;
  //         background-color: $brightorange;
  //         width: 50%;
  //         @include media('<=tablet') {
  //           width: 150%;
  //         }
  //       }
  //     }
  //   }
  //   .bottom {
  //     height: 50vh;
  //     height: calc(var(--vh, 1vh) * 50);
  //     position: absolute;
  //     bottom: 0;
  //     width: 110%;
  //     z-index: 8;
  //     .overlay-bottom {
  //       position: absolute;
  //       height: 100%;
  //       width: 60vw;
  //       background: $brightorange;
  //       bottom: 0;
  //       right: 50%;
  //       @include media('<=tablet') {
  //         right: 0;
  //         width: 100vw;
  //         display: none;
  //       }
  //       &:nth-child(2) {
  //         left: 48%;
  //         @include media('<=tablet') {
  //           width: 100vw;
  //           top: 100%;
  //           right: 0;
  //         }
  //       }
  //     }
  //   }
  // }
}
