

#profile {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  @include media('<=780px') {
    font-size: 16px;
  }
  @include media('<=540px') {
    font-size: 14px;
  }

  .slideBefore {
    z-index: -1;
    // background: rgb(84, 107, 117);
    background: $lightorange;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .slideActive {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-duration: 1.8s;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; // required for span transtion to work
    width: 100%;
    padding: 10px 0 60px 0;
    font-size: 6vw;
    margin: 30px 0 0 0;
    min-height: 90px;
    color: white;
    line-height: 1.2em;

    @include media('<=phone') {
      font-size: 9vw;
      padding: 0px 0 40px 0;
    }

    h1 {
      font-weight: 500;
      animation: move 3s forwards;
      padding-bottom: 8px;
      border-bottom: 4px solid white;

      @include media('<=phone') {
        border-bottom: 3px solid white;
      }
    }

    @keyframes move {
      0% {
        text-indent: -14em;
      }
      100% {
        text-indent: 0;
      }
    }

    span {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .picContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .profilePic {
    z-index: 1;
    opacity: 0;
    // display: none;
    margin-top: -60px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 210px;
    height: 210px;
    border: 15px solid $lightorange;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeIn 3s forwards;
    animation-delay: 1s;

      @include media('<=phone') {
        width: 140px;
        height: 140px;
        border-width: 10px;
        margin-top: -30px;
        margin-bottom: 0px;
      }

      img {
        opacity: 1;
        // display: block;
        // height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        align-items: center;
      }
      
      &:hover img {
        opacity: 0.5;
      }
      
      &:hover .middle {
        opacity: 1;
        background: $lightorange;
      }
      
      .text {
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
      }
  }

  .fadeActive {
    animation: fadeIn 3s forwards;
    // animation-delay: 0.9s;
  }

  .profileButton {
    opacity: 0;
    display: none;
    margin-top: -20px;
    margin-bottom: 18px;
    padding: 15px 15px 12px 15px;
    border-radius: 5%;
    color: white;
    font-weight: 600;
    font-size: 13px;
    background-color: $lightorange;
    border: 1px solid $lightorange;
    // animation: fadeIn 3s forwards;
    // animation-delay: 0.9s;
    // border: 2px solid rgba($brightorange, 0.3);

    &:focus {
      outline: none;
      opacity: 0.7;
    }

    @include media('<=780px') {
      display: block;
      margin-top: -35px;
    }

    @include media('<=phone') {
        display: block;
        margin-top: -20px;
    }
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: $lightorange;
    font-weight: 800;

    @include media('<=phone') {
      font-size: 25px;
    }
  }

  .halves {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // background: blue;
    margin-top: -100px;

    .favTitle {
      margin-right: 2vw;
    }
    .accountTitle {
      margin-left: 2vw;
    }

    .half {
      display: flex;
      width: 49%;
      // background: blue;
      flex-direction: column;
      align-items: center;
    }
  }

  .accDetails {
    display: flex;
    height: 100px;
    width: 50%;
    min-height: 150px;
    flex-direction: column;
    text-align: left;
    align-content: flex-start;
    justify-content: flex-start;
    // background: rgb(164, 164, 197);

    h3 {
      font-weight: 800;
      margin-bottom: 8px;
    }

    div {
      margin-top: 10px;
    }
  }


  
  .favourites {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    margin-right: 2vw;

    @include media('<=540px') {
      width: 100%;
      justify-content: center;
    }

    .recipe {
      // width: 15%;
      // min-width: 150px;
      // min-height: 163px;
      min-width: 105px;
      min-height: 113px;
      width: 25%;
      position: relative;
      margin-bottom: 20px;
      cursor: pointer;
      margin-right: 20px;
      animation: fadeIn 1s forwards;

      &:hover .middle{
        background-color: rgba($brightorange, 0.9);
      }

      @include media('<=540px') {
        min-width: 100px;
        min-height: 100px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    .middle {
      transition: .5s ease;
      position: absolute;
      background-color: rgba($lightorange, 0.8);
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      font-weight: 800;
      font-family: $family-secondary;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 10px;
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; 
    }
  }

  .redirect {
    background-color: $lightorange;
    color: white;
    font-size: 20px;
    padding: 12px 0;
    width: 25%;
    min-width: 200px;
    margin-bottom: 16px;
    border: 2px solid $brightorange;
    cursor: pointer;

      &:hover {
        opacity: 0.8;
        background-color: rgba($brightorange, 0.7);
      }

      &:focus {
        outline: none;
      }

      @include media('<=1200px') {
        font-size: 15px;
        width: 30%;
      }

      @include media('<=780px') {
        font-size: 15px;
        width: 40%;
      }
      @include media('<=phone') {
        font-size: 12px;
        width: 60%;
      }
  }

 

}